<div class="jumbotron jumbotron-fluid mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="display-4">About Share the Food</h1>
      <p class="lead m-3">
        Share the Food aims to connect those who have extra food, with those who are hungry.
        Every year in America, 30-40% of food by weight is thrown away.
        Meanwhile, millions of Americans are food insecure.
        Any individual or business that has extra food, that would otherwise be thrown,
        can create an account and add their food as a donation on this website.
        Anyone who is hungry can browse donations near them and go pick them up.
        No account is required to browse and claim donations.
      </p>
    </div>
  </div>
</div>