<% description 'Dashboard for admin users of Share the Food.' %>
<% keywords 'Share the Food, Admin, Dashboard' %>
<% set_meta_tags noindex: true %>

<h1><%= title 'Admin Dashboard' %></h1>

Total Donations: <%= @donations.count %>
Total Users: <%= @users.count %>