<% set_meta_tags index: false %>

<h1><%= title 'Admin Dashboard' %></h1>

<%= bar_chart [{name: 'Donations Created', data: @donations.kept.group_by_day(:created_at).count}, {name: 'Donations Claimed', data: @donations.discarded.group_by_day(:created_at).count}], {title: 'Donations Created and Claimed', subtitle: 'Grouped By Day', xtitle: 'Donations Created/Claimed', ytitle: 'Day'} %>
<%= line_chart [{name: 'Users', data: @users.group_by_day(:created_at).count}], {title: 'Users Signed Up', subtitle: 'Grouped By Day', xtitle: 'Day', ytitle: 'Users Signed Up'} %>

<%= pie_chart os_data_for_graph(@visits), {title: 'User Visits by Operating System'} %>