<% description 'Edit your existing donation.' %>
<% keywords 'Share the Food, Edit, Donation, Edit Donation' %>
<% set_meta_tags index: true %>

<h1><%= title 'Editing Donation' %></h1>

<%= render 'form', donation: @donation %>
