<h1>Available Donations</h1>

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-4">
  <% @donations.each do |donation| %>
    <%= render 'donations/index/donation_card', donation: donation %>
  <% end %>
</div>

<br>
<%== pagy_bootstrap_nav_js(@pagination) %>
