<h1>Viewing Available Donations Within <%= @donations.search_range %> Miles</h1>

<%= render 'donations/index/search_within_distance' %>
<div id="index_map"></div>
<hr>
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
  <%= render partial: 'donations/index/card', collection: @donations, as: :donation, cached: true %>
</div>

<div class="row justify-content-center">
  <%== pagy_bootstrap_nav_js(@pagination) if @pagination.pages > 1 %>
</div>
