<% description 'Create a new food donation.' %>
<% keywords 'Share the Food, New, Upload, Food, Donation, New Donation, Food Donation, New Food Donation' %>
<% set_meta_tags index: true %>

<h1><%= title 'New Donation' %></h1>

<%= render 'form', donation: @donation %>
