// Bootstrap Variables:

$primary: #28a745;
$secondary: #6f42c1;
$success: #20c997;

$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;

$border-width: 1px;

$border-radius: 1rem;
$border-radius-lg: 2rem;
$border-radius-sm: 0.75rem;

// Application Variables:

$footer-height: 6rem;
