$primary: #66B032;
$secondary: #347B98;
$success: #B2D732;
$danger: #dc3545;
$info: #17a2b8;
$warning: #ffc107;
$light: #F0F7D4;
$dark: #092834;
$enable-gradients: true;
$spacer: 1rem;
$border-width: 2px;
$btn-border-radius: 1rem;

$body-bg: #F0F0F0;

$footer-height: 100px;
$footer-color: #E0E0E0;
