<p>Hello <%= @resource.name %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>

<p><b>If you did not perform this action, or if you have any questions, you can reach us at: contact@sharethefood.net</b></p>

<p>Thank you,</p>
<p>The Share the Food Team</p>