<br>
<footer class="footer">
  <div class="row">
    <div class="col"></div>
    <div class="col pt-4" align="center">
      <span class="text-muted">
        Share the Food!
      </span>
    </div>
    <div class="col"></div>
  </div>
</footer>